@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url("https://academics.vit.ac.in/student/stud_login.asp") {
    font,td,a {
        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
   sttd {
       font-size:20px;
   }
    .submit3 {
        background-color: #5b74a8;
    background-image: url("https://facebook.com/rsrc.php/v2/y-/r/dF93ZBvNDG4.png");
    background-position: -1px -147px;
    background-repeat: no-repeat;
    background-size: auto auto;
    border-color: #2f477a #29447e #1a356e;
        cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    color:#fff;
    }
    input[type="text"],input[type="password"] {
        border-color: #1d2a5b;
    border-radius: 2px;
    color: #333;
    font-size: 0.8rem;
    height: 20px;
    outline: medium none;
    padding: 0 10px;
    transition: all 0.1s linear 0s;
    width: 160px;
}
    input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }
    a{
        position: fixed;
        top:470px;
        color: #666;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    transition: all 0.1s linear 0s;
    }
    a:hover {
        text-decoration:underline;
    }
}
@-moz-document url("https://academics.vit.ac.in/student/stud_home.asp") {
    td {
font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    z-index: 300;
}
    b {
        font-size: 14px;
        font-weight:bold;
    }
    font {
        font-size:13px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
a {
    font-size:13px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing:0.4px;
    color:black;
text-decoration: none;
}
a:hover {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px;
color: #4183c4;
text-decoration: none;
}
a.white-link-underline {
text-decoration: underline;
color: #FFFFFF;
}
.textbox {
border-left : 1px solid #b6b6b6;
border-right : 1px solid #b6b6b6;
border-top : 1px solid #b6b6b6;
border-bottom : 1px solid #b6b6b6;
background-color : #ffffff;
font-size : 10px;
font-family : Verdana, Arial, Helvetica, sans-serif;
color : #000;
text-transform : none;
}
.textbox4 {
border-left : 0px solid #ffffff;
border-right : 0px solid #ffffff;
border-top : 0px solid #ffffff;
border-bottom : 0px solid #ffffff;
background-color : #FFFFFF;
font-size : 10px;
font-family : Verdana, Arial, Helvetica, sans-serif;
color : #000;
text-transform : none;
}
.textbox2 {
border-left : 1px solid #b6b6b6;
border-right : 1px solid #b6b6b6;
border-top : 1px solid #b6b6b6;
border-bottom : 1px solid #b6b6b6;
background-color : #ffffff;
font-size : 10px;
font-family : Verdana, Arial, Helvetica, sans-serif;
color : #000;
text-transform : uppercase;
}
.submit {
border-left : 1px solid #b6b6b6;
border-right : 1px solid #b6b6b6;
border-top : 1px solid #b6b6b6;
border-bottom : 1px solid #b6b6b6;
background-color : #ffffff;
font-size : 10px;
font-weight : bold;
font-family : Verdana, Arial, Helvetica, sans-serif;
color : #000;
text-transform : none;
}
.submit2 {
border-left : 1px solid #b6b6b6;
border-right : 1px solid #b6b6b6;
border-top : 1px solid #b6b6b6;
border-bottom : 1px solid #b6b6b6;
background-color : #996600;
font-size : 10px;
font-weight : bold;
font-family : Verdana, Arial, Helvetica, sans-serif;
color : #ffffff;
text-transform : none;
}
.submit3 {
border-left : 1px solid #b6b6b6;
border-right : 1px solid #b6b6b6;
border-top : 1px solid #b6b6b6;
border-bottom : 1px solid #b6b6b6;
background-color : #EDEADE;
font-size : 10px;
font-weight : bold;
font-family : Verdana, Arial, Helvetica, sans-serif;
color : blue;
text-transform : none;
}
.submit4 {
border-left : 1px solid #b6b6b6;
border-right : 1px solid #b6b6b6;
border-top : 1px solid #b6b6b6;
border-bottom : 1px solid #b6b6b6;
background-color : #EDEADE;
font-size : 10px;
font-weight : bold;
font-family : Verdana, Arial, Helvetica, sans-serif;
color : blue;
width : 230px;
text-transform : none;
}
.submit5 {
border-left : 1px solid #b6b6b6;
border-right : 1px solid #b6b6b6;
border-top : 1px solid #b6b6b6;
border-bottom : 1px solid #b6b6b6;
background-color : #FFFFFF;
font-size : 10px;
font-weight : bold;
font-family : Verdana, Arial, Helvetica, sans-serif;
color : blue;
text-transform : none;
}
.submit6 {
border-left : 1px solid #b6b6b6;
border-right : 1px solid #b6b6b6;
border-top : 1px solid #b6b6b6;
border-bottom : 1px solid #b6b6b6;
background-color : #FFFFFF;
font-size : 11px;
font-weight : bold;
font-family : Verdana, Arial, Helvetica, sans-serif;
color : red;
text-transform : none;
}
fieldset {
padding: 2em;
border:1px solid #FF9900;
width: 75%
}
legend {
padding: 0.2em 0.5em;
border:1px solid #FF9900;
color: #000000;
font-size:90%;
text-align:right;
}
label {
float:left;
width:25%;
margin-right:0.5em;
padding-top:0.2em;
text-align:right;
font-weight:bold;
}
}
